.app {
  padding: 10px;
}
.box {
  margin: 20px 5px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px black;
}
.nav {
  padding: 5px;
}
.link {
  text-decoration: none;
}
